@import './works.scss';

.section.about {
    .works {
        &.title {
            text-align: center;
            #myPic {
                height: 150px;
            }

            p {
                font-size: 2em;
                &:first-child {
                    color: #ff6666;
                }
            }


        }

        &.start {
            text-align: center;
        }

        &.skillBox {
            text-align: center;
            margin-bottom: 50px;

            .skill {
                display: inline-block;
                text-align: center;
                margin: 0 10px;
                height: 120px;
                width: 120px;

                .skillWrap {
                    opacity: 0;
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    background-color: rgba(0, 0, 0, .8);
                    cursor: pointer;
                    border-radius: 20px;
                
                    &:hover, 
                    &:active {
                        opacity: 1;
                    }
                }

                img {
                    height: 120px;
                }
                
                p {
                    line-height: 2em;
                    color: white;
                    font-size: 2em;
                    font-family: 'Open Sans Condensed', sans-serif;
                }
            }
        }
    }

    hr {
        width: 50%;
    }
}


.history {
    ul {
        padding: 0px 15px;

        li {
            font-size: 0.9em;
            padding-top: 5px;
        }
    }
}

.lineBox {
    width: 100%;
}

.lineTitle {
    text-align: center;
    margin: auto;
    width: 100px;
    padding-bottom: 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



.hisBox {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    ul {
        margin-top: 0;

        li {
            list-style: none;
            word-wrap: break-word;
        }
    }

    .hisLeftBox {
        width: calc(50% - 1px);
        height: 100%;
        float: left;
        /*border-right:1px solid #ff6666;*/
        padding-right: 20px;
        box-sizing: border-box;
    
        li {
            text-align: right;
        }
    }
    
    .hisCircle {
        width: 8px;
        height: 8px;
        border: 2px solid #ff6666;
        border-radius: 8px;
        position: absolute;
        background-color: white;
        // left: calc(2em - 5px);
    
        &.two {
            margin-top: 50px;
        }
    }
    
    .hisRightBox {
        width: calc(50% + 1px);
        height: 100%;
        float: left;
        border-left: 2px solid #ff6666;
        padding-left: 20px;
        box-sizing: border-box;
        margin-bottom: 60px;
    }

    .hisBoxMobile {
        display: none;
    }
    
    .listYear {
        color: #ff6666;
        font-family: initial;
        margin: 0;
        display: inline-block;
        &.left {
            padding-left: 5px;
        }
    
        &.right {
            padding-right: 5px;
        }
    }

    .historyList {
        flex: 1;
    }

    .emptyList {
        flex: 1;
    }
}


@media (max-width: 767px) {
    .works.start {
        text-align: left;
    }
    .skill {
        margin-bottom: 20px;
    }
    .hisLeftBox {
        display: none;
    }
    .hisRightBox {
        width: 100%;
    }
    .hisCircle {
        left: 25px;
    }
    .hisBoxMobile {
        display: block;
    }
}
